<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/articles" method="POST"> 
    <label for="title">Title: <input type ="text" name = "title"> </label>
    <label for="content">Content: <input type ="text" name = "content"> </label>
    <input type="submit">
    


  </form>
  
</body>
</html>